.tudo{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: -20px; /* puxa para cima, por baixo do header */
  border-radius: 0 0 16px 16px; /* cantos arredondados no topo, se quiser */
  background-color: #fff;
  z-index: 1;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
}

body {
background-color: #6c3c0c;

}

hr{
  margin: 200px;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
  margin-bottom: 20px;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgheader {
    width: 110%; /* Ajusta a largura para caber no container */
    height: 700px; 
    border: none;/* ajusta a largura para caber no container */
    transform: translateY(-8px)  translateX(-100px);
    z-index: 2;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
  }
  
  /* Para o conteúdo "Quem Somos" com a imagem e texto lado a lado */

.QuemSomos {
 padding-top: 5px;
 position: relative;
 z-index: 1;
  }
  .QuemSomos .conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1000px;  /* opcional, para limitar largura */
    margin: 0 auto; /* centraliza o bloco */
    font-size: 26px;
    padding-top: 40px;
    
  }
  
  /* Ajuste da imagem de encaixe */
  .imgencaixe {
    width: 40%;  /* Ajuste o tamanho para ficar legal */
    height: auto;
  }
  
  /* Para a imagem do produto base */
  .imgbase {
    width: 40%;
    height: auto;
    display: block;
    margin-bottom: 15px;
  }
  
  /* Espaçamento entre as seções pode ser feito com margin */
.produtos .conteudoP{
      display: flex;
    gap: 20px;
    max-width: 1000px;  /* opcional, para limitar largura */
    margin: 0 auto; /* centraliza o bloco */
    font-size: 26px;
    padding-top: 40px;
}
  


.conteudoR {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.paragrafoR {
  max-width: 1020px; /* 500 + 500 + 20px de gap */
  margin: 20px auto;
  font-size: 26px;
  line-height: 1.6;
  padding: 0 10px; /* para não encostar nas bordas se for tela menor */
  padding-top: 40px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
}