.tudo {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  z-index: 1;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
}

body {
  background-color: #6c3c0c;
}

hr {
  margin: 200px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
  margin-bottom: 20px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgheader {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 2;
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
}

.QuemSomos {
  padding-top: 5px;
  position: relative;
  z-index: 1;
}

.QuemSomos .conteudo {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 26px;
  padding-top: 40px;
}

.imgencaixe {
  width: 40%;
  height: auto;
}

.imgbase {
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.produtos .conteudoP {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 26px;
  padding-top: 40px;
}

.conteudoR {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.paragrafoR {
  max-width: 1020px;
  margin: 20px auto;
  font-size: 26px;
  line-height: 1.6;
  padding: 0 10px;
  padding-top: 40px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* ===================== Responsividade ======================= */

@media (max-width: 768px) {
  .QuemSomos .conteudo,
  .produtos .conteudoP,
  .conteudoR {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imgencaixe,
  .imgbase,
  .imgresultado1,
  .imgresultado2 {
    width: 100%;
    height: auto;
  }

  .tudo {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  p,
  .paragrafoR {
    font-size: 18px !important;
  }

  .imgheader {
    height: 200px;
    object-fit: cover;
  }

  hr {
    margin: 30px 0 !important;
  }
}
